<div class="ipacro-postcontent ipacro-postcontent-0 clearfix">
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0">
      <p><%= @about_cn.html_safe %></p>
      <p><%= @about_en.html_safe %></p>
      </div>
    </div>
  </div>
</div>
