<ul>
  <li><%= link_to t('front.nav.tab01'), root_path %></li>
  <li><%= link_to t('front.nav.tab02'), news_index_path %></li>
  <li><%= link_to t('front.nav.tab03'), products_path %></li>
  <li><%= link_to t('front.nav.tab04'), front_support_path %></li>
</ul>
