<ul>
  <li><%= link_to t('front.nav.tab01'), '#' %></li>
  <li><%= link_to t('front.nav.tab02'), '#' %></li>
  <li><%= link_to t('front.nav.tab03'), '#' %></li>
  <li><%= link_to t('front.nav.tab04'), '#' %></li>
</ul>
