<p>
  <%= @home_title %>
</p> 
<p>
  <%= SEARCH_ITEMS %>
</p>
<p>
  <%#= @search_itmes %>
</p>
<div>
  <%= image_tag(@home_nav_image.avatar.url, size: "800x100", alt: "Home nav image") %>
</div>