#ipacro-main
{
   background: #BBDDEC url('../images/page1080.png') top center scroll;
   background: linear-gradient(top, rgba(87, 170, 209, 0.12) 0, rgba(255, 255, 255, 0.34) 130px) no-repeat, url('../images/page1080.png') top center, linear-gradient(top, #83C0DD 0, #F3F9FC 130px) no-repeat;
   background: -webkit-linear-gradient(top, rgba(87, 170, 209, 0.12) 0, rgba(255, 255, 255, 0.34) 130px) no-repeat, url('../images/page1080.png') top center, -webkit-linear-gradient(top, #83C0DD 0, #F3F9FC 130px) no-repeat;
   background: -moz-linear-gradient(top, rgba(87, 170, 209, 0.12) 0, rgba(255, 255, 255, 0.34) 130px) no-repeat, url('../images/page1080.png') top center, -moz-linear-gradient(top, #83C0DD 0, #F3F9FC 130px) no-repeat;
   background: -o-linear-gradient(top, rgba(87, 170, 209, 0.12) 0, rgba(255, 255, 255, 0.34) 130px) no-repeat, url('../images/page1080.png') top center, -o-linear-gradient(top, #83C0DD 0, #F3F9FC 130px) no-repeat;
   background: -ms-linear-gradient(top, rgba(87, 170, 209, 0.12) 0, rgba(255, 255, 255, 0.34) 130px) no-repeat, url('../images/page1080.png') top center, -ms-linear-gradient(top, #83C0DD 0, #F3F9FC 130px) no-repeat;
   background: linear-gradient(top, rgba(87, 170, 209, 0.12) 0, rgba(255, 255, 255, 0.34) 130px) no-repeat, url('../images/page1080.png') top center, linear-gradient(top, #83C0DD 0, #F3F9FC 130px) no-repeat;
   -svg-background: linear-gradient(top, rgba(87, 170, 209, 0.12) 0, rgba(255, 255, 255, 0.34) 130px) no-repeat, url('../images/page1080.png') top center, linear-gradient(top, #83C0DD 0, #F3F9FC 130px) no-repeat;
   margin:0 auto;
   font-size: 13px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
   text-align: justify;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.ipacro-hmenu
{
   font-size: 13px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
   text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.ipacro-button
{
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #7DB12F;
   background: linear-gradient(top, #91CB3A 0, #8EC936 7%, #699528 100%) no-repeat;
   background: -webkit-linear-gradient(top, #91CB3A 0, #8EC936 7%, #699528 100%) no-repeat;
   background: -moz-linear-gradient(top, #91CB3A 0, #8EC936 7%, #699528 100%) no-repeat;
   background: -o-linear-gradient(top, #91CB3A 0, #8EC936 7%, #699528 100%) no-repeat;
   background: -ms-linear-gradient(top, #91CB3A 0, #8EC936 7%, #699528 100%) no-repeat;
   background: linear-gradient(top, #91CB3A 0, #8EC936 7%, #699528 100%) no-repeat;
   -svg-background: linear-gradient(top, #91CB3A 0, #8EC936 7%, #699528 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid #A6A6A6;
   padding:0 10px;
   margin:0 auto;
   height:24px;
}

.ipacro-postcontent,
.ipacro-postheadericons,
.ipacro-postfootericons,
.ipacro-blockcontent,
ul.ipacro-vmenu a 
{
   text-align: left;
}

.ipacro-postcontent,
.ipacro-postcontent li,
.ipacro-postcontent table,
.ipacro-postcontent a,
.ipacro-postcontent a:link,
.ipacro-postcontent a:visited,
.ipacro-postcontent a.visited,
.ipacro-postcontent a:hover,
.ipacro-postcontent a.hovered
{
   font-family: '微软雅黑', Arial;
}

.ipacro-postcontent p
{
   margin: 12px 0;
}

.ipacro-postcontent h1, .ipacro-postcontent h1 a, .ipacro-postcontent h1 a:link, .ipacro-postcontent h1 a:visited, .ipacro-postcontent h1 a:hover,
.ipacro-postcontent h2, .ipacro-postcontent h2 a, .ipacro-postcontent h2 a:link, .ipacro-postcontent h2 a:visited, .ipacro-postcontent h2 a:hover,
.ipacro-postcontent h3, .ipacro-postcontent h3 a, .ipacro-postcontent h3 a:link, .ipacro-postcontent h3 a:visited, .ipacro-postcontent h3 a:hover,
.ipacro-postcontent h4, .ipacro-postcontent h4 a, .ipacro-postcontent h4 a:link, .ipacro-postcontent h4 a:visited, .ipacro-postcontent h4 a:hover,
.ipacro-postcontent h5, .ipacro-postcontent h5 a, .ipacro-postcontent h5 a:link, .ipacro-postcontent h5 a:visited, .ipacro-postcontent h5 a:hover,
.ipacro-postcontent h6, .ipacro-postcontent h6 a, .ipacro-postcontent h6 a:link, .ipacro-postcontent h6 a:visited, .ipacro-postcontent h6 a:hover,
.ipacro-blockheader .t, .ipacro-blockheader .t a, .ipacro-blockheader .t a:link, .ipacro-blockheader .t a:visited, .ipacro-blockheader .t a:hover,
.ipacro-vmenublockheader .t, .ipacro-vmenublockheader .t a, .ipacro-vmenublockheader .t a:link, .ipacro-vmenublockheader .t a:visited, .ipacro-vmenublockheader .t a:hover,
.ipacro-headline, .ipacro-headline a, .ipacro-headline a:link, .ipacro-headline a:visited, .ipacro-headline a:hover,
.ipacro-slogan, .ipacro-slogan a, .ipacro-slogan a:link, .ipacro-slogan a:visited, .ipacro-slogan a:hover,
.ipacro-postheader, .ipacro-postheader a, .ipacro-postheader a:link, .ipacro-postheader a:visited, .ipacro-postheader a:hover
{
   font-size: 31px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postcontent a, .ipacro-postcontent a:link
{
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
   color: #5E8523;
}

.ipacro-postcontent a:visited, .ipacro-postcontent a.visited
{
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
   color: #6E6E6E;
}

.ipacro-postcontent  a:hover, .ipacro-postcontent a.hover
{
   font-family: '微软雅黑', Arial;
   text-decoration: none;
   color: #72C0B7;
}

.ipacro-postcontent h1
{
   color: #545454;
   font-size: 31px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-blockcontent h1
{
   font-size: 31px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postcontent h1 a, .ipacro-postcontent h1 a:link, .ipacro-postcontent h1 a:hover, .ipacro-postcontent h1 a:visited, .ipacro-blockcontent h1 a, .ipacro-blockcontent h1 a:link, .ipacro-blockcontent h1 a:hover, .ipacro-blockcontent h1 a:visited 
{
   font-size: 31px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postcontent h2
{
   color: #545454;
   font-size: 20px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-blockcontent h2
{
   font-size: 20px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postcontent h2 a, .ipacro-postcontent h2 a:link, .ipacro-postcontent h2 a:hover, .ipacro-postcontent h2 a:visited, .ipacro-blockcontent h2 a, .ipacro-blockcontent h2 a:link, .ipacro-blockcontent h2 a:hover, .ipacro-blockcontent h2 a:visited 
{
   font-size: 20px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postcontent h3
{
   color: #6E6E6E;
   margin-bottom: 0;
   font-size: 18px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-blockcontent h3
{
   margin-bottom: 0;
   font-size: 18px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postcontent h3 a, .ipacro-postcontent h3 a:link, .ipacro-postcontent h3 a:hover, .ipacro-postcontent h3 a:visited, .ipacro-blockcontent h3 a, .ipacro-blockcontent h3 a:link, .ipacro-blockcontent h3 a:hover, .ipacro-blockcontent h3 a:visited 
{
   font-size: 18px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postcontent h4
{
   color: #1F1F1F;
   margin: 20px 0 5px;
   font-size: 15px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-blockcontent h4
{
   margin: 20px 0 5px;
   font-size: 15px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postcontent h4 a, .ipacro-postcontent h4 a:link, .ipacro-postcontent h4 a:hover, .ipacro-postcontent h4 a:visited, .ipacro-blockcontent h4 a, .ipacro-blockcontent h4 a:link, .ipacro-blockcontent h4 a:hover, .ipacro-blockcontent h4 a:visited 
{
   font-size: 15px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postcontent h5
{
   color: #1F1F1F;
   font-size: 15px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

.ipacro-blockcontent h5
{
   font-size: 15px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

.ipacro-postcontent h5 a, .ipacro-postcontent h5 a:link, .ipacro-postcontent h5 a:hover, .ipacro-postcontent h5 a:visited, .ipacro-blockcontent h5 a, .ipacro-blockcontent h5 a:link, .ipacro-blockcontent h5 a:hover, .ipacro-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

.ipacro-postcontent h6
{
   color: #3D3D3D;
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

.ipacro-blockcontent h6
{
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

.ipacro-postcontent h6 a, .ipacro-postcontent h6 a:link, .ipacro-postcontent h6 a:hover, .ipacro-postcontent h6 a:visited, .ipacro-blockcontent h6 a, .ipacro-blockcontent h6 a:link, .ipacro-blockcontent h6 a:hover, .ipacro-blockcontent h6 a:visited 
{
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

header, footer, article, nav, #ipacro-hmenu-bg, .ipacro-sheet, .ipacro-hmenu a, .ipacro-vmenu a, .ipacro-slidenavigator > a, .ipacro-checkbox:before, .ipacro-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #ipacro-hmenu-bg, .ipacro-sheet, .ipacro-slidenavigator > a, .ipacro-checkbox:before, .ipacro-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #0F0F0F;
}

.ipacro-header:before, #ipacro-header-bg:before, .ipacro-layout-cell:before, .ipacro-layout-wrapper:before, .ipacro-footer:before, .ipacro-nav:before, #ipacro-hmenu-bg:before, .ipacro-sheet:before
{
   width: 100%;
   content: " ";
   display: table;
}
.ipacro-header:after, #ipacro-header-bg:after, .ipacro-layout-cell:after, .ipacro-layout-wrapper:after, .ipacro-footer:after, .ipacro-nav:after, #ipacro-hmenu-bg:after, .ipacro-sheet:after,
.cleared, .clearfix:after {
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .ipacro-postcontent li h1, .ipacro-blockcontent li h1 
{
   margin:1px;
} 
li h2, .ipacro-postcontent li h2, .ipacro-blockcontent li h2 
{
   margin:1px;
} 
li h3, .ipacro-postcontent li h3, .ipacro-blockcontent li h3 
{
   margin:1px;
} 
li h4, .ipacro-postcontent li h4, .ipacro-blockcontent li h4 
{
   margin:1px;
} 
li h5, .ipacro-postcontent li h5, .ipacro-blockcontent li h5 
{
   margin:1px;
} 
li h6, .ipacro-postcontent li h6, .ipacro-blockcontent li h6 
{
   margin:1px;
} 
li p, .ipacro-postcontent li p, .ipacro-blockcontent li p 
{
   margin:1px;
}


.ipacro-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.ipacro-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.ipacro-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.ipacro-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.ipacro-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 29px;
  left: 4.77%;
  line-height: 100%;
  margin-left: -5px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 101;
}

.ipacro-headline, 
.ipacro-headline a, 
.ipacro-headline a:link, 
.ipacro-headline a:visited, 
.ipacro-headline a:hover
{
font-size: 39px;
font-family: '微软雅黑', Arial;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
  padding: 0;
  margin: 0;
  color: #FCFDFD !important;
  white-space: nowrap;
}
.ipacro-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 86px;
  left: 4.12%;
  line-height: 100%;
  margin-left: -6px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 102;
  white-space: nowrap;
}

.ipacro-slogan, 
.ipacro-slogan a, 
.ipacro-slogan a:link, 
.ipacro-slogan a:visited, 
.ipacro-slogan a:hover
{
font-size: 14px;
font-family: '微软雅黑', Arial;
font-weight: bold;
font-style: normal;
text-align: left;
  padding: 0;
  margin: 0;
  color: #4B7995 !important;
}

.ipacro-header
{
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.05);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.05);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.05);
   margin:0 auto;
   height: 120px;/*原高180，按要求改成120px*/
   background-image: url('../images/object0_removed.png'), url('../images/header.png');
   background-position: 663px -5px, 0 0;
   background-repeat: no-repeat;
   position: relative;
   width: 1000px;
   z-index: auto !important;
}

.responsive .ipacro-header 
{
   background-image: url('../images/header.png');
   background-position: center center;
}

.ipacro-header>.widget 
{
   position:absolute;
   z-index:101;
}

.ipacro-nav
{
   background: #BBDDEC url('../images/nav.png') scroll;
   background: linear-gradient(top, rgba(116, 185, 217, 0.04) 0, rgba(254, 254, 255, 0.11) 100%) no-repeat, url('../images/nav.png'), linear-gradient(top, #8BC5DF 0, #E7F3F8 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(116, 185, 217, 0.04) 0, rgba(254, 254, 255, 0.11) 100%) no-repeat, url('../images/nav.png'), -webkit-linear-gradient(top, #8BC5DF 0, #E7F3F8 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(116, 185, 217, 0.04) 0, rgba(254, 254, 255, 0.11) 100%) no-repeat, url('../images/nav.png'), -moz-linear-gradient(top, #8BC5DF 0, #E7F3F8 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(116, 185, 217, 0.04) 0, rgba(254, 254, 255, 0.11) 100%) no-repeat, url('../images/nav.png'), -o-linear-gradient(top, #8BC5DF 0, #E7F3F8 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(116, 185, 217, 0.04) 0, rgba(254, 254, 255, 0.11) 100%) no-repeat, url('../images/nav.png'), -ms-linear-gradient(top, #8BC5DF 0, #E7F3F8 100%) no-repeat;
   background: linear-gradient(top, rgba(116, 185, 217, 0.04) 0, rgba(254, 254, 255, 0.11) 100%) no-repeat, url('../images/nav.png'), linear-gradient(top, #8BC5DF 0, #E7F3F8 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(116, 185, 217, 0.04) 0, rgba(254, 254, 255, 0.11) 100%) no-repeat, url('../images/nav.png'), linear-gradient(top, #8BC5DF 0, #E7F3F8 100%) no-repeat;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.1);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.1);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.1);
   border:1px solid #C7C7C7;
   margin:0 auto;
   position: relative;
   z-index: 499;
   text-align: justify;
}

ul.ipacro-hmenu a, ul.ipacro-hmenu a:link, ul.ipacro-hmenu a:visited, ul.ipacro-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.ipacro-hmenu, ul.ipacro-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.ipacro-hmenu li
{
   position: relative;
   z-index: 5;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.ipacro-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.ipacro-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.ipacro-hmenu, ul.ipacro-hmenu ul 
{
   min-height: 0;
}

ul.ipacro-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   width: 100%;
   text-align: justify;
   line-height: 0;
   font-size: 1px;
}

.ipacro-nav:before 
{
   content:' ';
}

.desktop .ipacro-nav{
   width: 1000px;
   padding-left: 0;
   padding-right: 0;
}

ul.ipacro-hmenu .justify-helper
{
   width: 100%;
   height: 0;
   visibility: hidden;
   display: inline-block;
}
ul.ipacro-hmenu>li
{
   display: inline-block;
   position: relative;
   text-align: center;
   vertical-align: top;
   margin-left: 1px;
}

.ipacro-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.ipacro-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.ipacro-menuitemcontainer
{
   margin:0 auto;
}

ul.ipacro-hmenu>li:first-child {
   margin-left: 0;
}
ul.ipacro-hmenu>li:last-child, ul.ipacro-hmenu>li.last-child {
   margin-right: 0;
}

ul.ipacro-hmenu>li>a
{
   padding:0 35px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 24px;
   cursor: pointer;
   text-decoration: none;
   color: #334913;
   line-height: 24px;
   text-align: center;
}

.ipacro-hmenu a, 
.ipacro-hmenu a:link, 
.ipacro-hmenu a:visited, 
.ipacro-hmenu a.active, 
.ipacro-hmenu a:hover
{
   font-size: 15px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

ul.ipacro-hmenu>li>a.active
{
   background: #C7E6E2;
   background: linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: -webkit-linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: -moz-linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: -o-linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: -ms-linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   -svg-background: linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   padding:0 35px;
   margin:0 auto;
   color: #415D19;
   text-decoration: none;
}

ul.ipacro-hmenu>li>a:visited, 
ul.ipacro-hmenu>li>a:hover, 
ul.ipacro-hmenu>li:hover>a {
   text-decoration: none;
}

ul.ipacro-hmenu>li>a:hover, .desktop ul.ipacro-hmenu>li:hover>a
{
   background: #C7E6E2;
   background: linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: -webkit-linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: -moz-linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: -o-linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: -ms-linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   background: linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   -svg-background: linear-gradient(top, #E6F4F2 0, #ABD9D4 100%) no-repeat;
   padding:0 35px;
   margin:0 auto;
}
ul.ipacro-hmenu>li>a:hover, 
.desktop ul.ipacro-hmenu>li:hover>a {
   color: #3B3B3B;
   text-decoration: none;
}

ul.ipacro-hmenu>li.justify-separator
{
   width: 1px;
   height: 24px;
   background: url('../images/menuseparator.png') center center no-repeat;
}

ul.ipacro-hmenu ul
{
   display: none;
}

.ipacro-sheet
{
   border:1px solid #BBDDEC;
   margin:5px auto 0;
   position:relative;
   cursor:auto;
   width: 1000px;
   z-index: auto !important;
}

.ipacro-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.ipacro-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.ipacro-content-layout-row 
{
   display: table-row;
}

.ipacro-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.ipacro-postcontent .ipacro-content-layout
{
   border-collapse: collapse;
}

.ipacro-block
{
   margin:5px;
}
div.ipacro-block img
{
   border: none;
   margin: 0;
}

.ipacro-blockheader
{
   background: #7DB12F;
   background: linear-gradient(top, rgba(145, 203, 58, 0.4) 0, rgba(142, 201, 54, 0.4) 7%, rgba(105, 149, 40, 0.4) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(145, 203, 58, 0.4) 0, rgba(142, 201, 54, 0.4) 7%, rgba(105, 149, 40, 0.4) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(145, 203, 58, 0.4) 0, rgba(142, 201, 54, 0.4) 7%, rgba(105, 149, 40, 0.4) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(145, 203, 58, 0.4) 0, rgba(142, 201, 54, 0.4) 7%, rgba(105, 149, 40, 0.4) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(145, 203, 58, 0.4) 0, rgba(142, 201, 54, 0.4) 7%, rgba(105, 149, 40, 0.4) 100%) no-repeat;
   background: linear-gradient(top, rgba(145, 203, 58, 0.4) 0, rgba(142, 201, 54, 0.4) 7%, rgba(105, 149, 40, 0.4) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(145, 203, 58, 0.4) 0, rgba(142, 201, 54, 0.4) 7%, rgba(105, 149, 40, 0.4) 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid rgba(166, 166, 166, 0.4);
   padding:8px 7px;
   margin:0 auto 4px;
}
.ipacro-blockheader .t,
.ipacro-blockheader .t a,
.ipacro-blockheader .t a:link,
.ipacro-blockheader .t a:visited, 
.ipacro-blockheader .t a:hover
{
   color: #2E4011;
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   margin-left: 10px;
   margin-right: 10px;
}

.ipacro-blockheader .t:before
{
   content:url('../images/blockheadericon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .ipacro-blockheader .t:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-blockcontent
{
   background: #FFFFFF;
   background: rgba(255, 255, 255, 0.2);
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid rgba(199, 199, 199, 0.2);
   padding:7px;
   margin:0 auto;
   color: #1F1F1F;
   font-size: 13px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
}
.ipacro-blockcontent table,
.ipacro-blockcontent li, 
.ipacro-blockcontent a,
.ipacro-blockcontent a:link,
.ipacro-blockcontent a:visited,
.ipacro-blockcontent a:hover
{
   color: #1F1F1F;
   font-size: 13px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
}

.ipacro-blockcontent a, .ipacro-blockcontent a:link
{
   color: #7AAD2E;
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
}

.ipacro-blockcontent a:visited, .ipacro-blockcontent a.visited
{
   color: #878787;
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
}

.ipacro-blockcontent a:hover, .ipacro-blockcontent a.hover
{
   color: #95CD42;
   font-family: '微软雅黑', Arial;
   text-decoration: none;
}
.ipacro-block ul>li:before
{
   content:url('../images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .ipacro-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-block li
{
   font-size: 13px;
   font-family: '微软雅黑', Arial;
   text-decoration: none;
   line-height: 125%;
   color: #0F0F0F;
}

.ipacro-block ul>li, .ipacro-block ol
{
   padding: 0;
}

.ipacro-block ul>li
{
   padding-left: 12px;
}

.ipacro-breadcrumbs
{
   margin:0 auto;
}

a.ipacro-button,
a.ipacro-button:link,
a:link.ipacro-button:link,
body a.ipacro-button:link,
a.ipacro-button:visited,
body a.ipacro-button:visited,
input.ipacro-button,
button.ipacro-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #DEDEDE;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 24px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.ipacro-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .ipacro-button
{
   display: block;
   float: left;
}

input, select, textarea, a.ipacro-search-button span
{
   vertical-align: middle;
   font-size: 13px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
}

.ipacro-block select 
{
   width:96%;
}

input.ipacro-button
{
   float: none !important;
}

.ipacro-button.active, .ipacro-button.active:hover
{
   background: #214A45;
   background: linear-gradient(top, #2E665F 0, #152E2B 100%) no-repeat;
   background: -webkit-linear-gradient(top, #2E665F 0, #152E2B 100%) no-repeat;
   background: -moz-linear-gradient(top, #2E665F 0, #152E2B 100%) no-repeat;
   background: -o-linear-gradient(top, #2E665F 0, #152E2B 100%) no-repeat;
   background: -ms-linear-gradient(top, #2E665F 0, #152E2B 100%) no-repeat;
   background: linear-gradient(top, #2E665F 0, #152E2B 100%) no-repeat;
   -svg-background: linear-gradient(top, #2E665F 0, #152E2B 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid #A6A6A6;
   padding:0 10px;
   margin:0 auto;
}
.ipacro-button.active, .ipacro-button.active:hover {
   color: #D4D4D4 !important;
}

.ipacro-button.hover, .ipacro-button:hover
{
   background: #479E94;
   background: linear-gradient(top, #56B3A8 0, #4FB0A5 14%, #3C867D 100%) no-repeat;
   background: -webkit-linear-gradient(top, #56B3A8 0, #4FB0A5 14%, #3C867D 100%) no-repeat;
   background: -moz-linear-gradient(top, #56B3A8 0, #4FB0A5 14%, #3C867D 100%) no-repeat;
   background: -o-linear-gradient(top, #56B3A8 0, #4FB0A5 14%, #3C867D 100%) no-repeat;
   background: -ms-linear-gradient(top, #56B3A8 0, #4FB0A5 14%, #3C867D 100%) no-repeat;
   background: linear-gradient(top, #56B3A8 0, #4FB0A5 14%, #3C867D 100%) no-repeat;
   -svg-background: linear-gradient(top, #56B3A8 0, #4FB0A5 14%, #3C867D 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid #949494;
   padding:0 10px;
   margin:0 auto;
}
.ipacro-button.hover, .ipacro-button:hover {
   color: #D5ECE9 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #FFFFFF;
   border-width: 0;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 8px 0;
   color: #292929 !important;
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.ipacro-error, textarea.ipacro-error
{
   background: #FFFFFF;
   border:1px solid #4FB0A5;
   margin:0 auto;
}
input.ipacro-error, textarea.ipacro-error {
   color: #292929 !important;
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
}
form.ipacro-search input[type="text"]
{
   background: #FFFFFF;
   border-radius: 0;
   border-width: 0;
   margin:0 auto;
   width: 100%;
   padding: 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #292929 !important;
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
}
form.ipacro-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.ipacro-search input, a.ipacro-search-button
{
   top:0;
   right:0;
}

form.ipacro-search>input, a.ipacro-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.ipacro-search input[type="submit"], input.ipacro-search-button, a.ipacro-search-button
{
   background: #7DB12F;
   margin:0 auto;
}
form.ipacro-search input[type="submit"], input.ipacro-search-button, a.ipacro-search-button {
   position:absolute;
   left:auto;
   display:block;
   border: 0;
   top: 0;
   bottom: 0;
   right: 	0;
   padding:0 6px;
   color: #DEDEDE !important;
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
   cursor: pointer;
}

a.ipacro-search-button span.ipacro-search-button-text, a.ipacro-search-button:after {
   vertical-align:middle;
}

a.ipacro-search-button:after {
   display:inline-block;
   content:' ';
   height: 100%;
}

a.ipacro-search-button, a.ipacro-search-button span,
a.ipacro-search-button:visited, a.ipacro-search-button.visited,
a.ipacro-search-button:hover, a.ipacro-search-button.hover 
{
   text-decoration: none;
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
}

label.ipacro-checkbox:before
{
   background: #FFFFFF;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.ipacro-checkbox
{
   cursor: pointer;
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #1F1F1F !important;
}

.ipacro-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.ipacro-checkbox.active:before
{
   background: #BBDDEC;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.ipacro-checkbox.hovered:before
{
   background: #C7E49A;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.ipacro-radiobutton:before
{
   background: #FFFFFF;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.ipacro-radiobutton
{
   cursor: pointer;
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #1F1F1F !important;
}

.ipacro-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.ipacro-radiobutton.active:before
{
   background: #BBDDEC;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.ipacro-radiobutton.hovered:before
{
   background: #C7E49A;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.ipacro-comments
{
   border-top:1px dotted #C7C7C7;
   margin:0 auto;
   margin-top: 25px;
}

.ipacro-comments h2
{
   color: #1F1F1F;
}

.ipacro-comment-inner
{
   background: #E0E0E0;
   background: transparent;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:0 auto;
   margin-left: 94px;
}
.ipacro-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:1px;
   background:#fff;
   border:1px solid #C7C7C7;
}

.ipacro-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.ipacro-comment-content
{
   padding:10px 0;
   color: #1F1F1F;
   font-family: '微软雅黑', Arial;
}

.ipacro-comment
{
   margin-top: 6px;
}

.ipacro-comment:first-child
{
   margin-top: 0;
}

.ipacro-comment-header
{
   color: #1F1F1F;
   font-family: '微软雅黑', Arial;
   line-height: 100%;
}

.ipacro-comment-header a, 
.ipacro-comment-header a:link, 
.ipacro-comment-header a:visited,
.ipacro-comment-header a.visited,
.ipacro-comment-header a:hover,
.ipacro-comment-header a.hovered
{
   font-family: '微软雅黑', Arial;
   line-height: 100%;
}

.ipacro-comment-header a, .ipacro-comment-header a:link
{
   font-family: '微软雅黑', Arial;
   color: #334913;
}

.ipacro-comment-header a:visited, .ipacro-comment-header a.visited
{
   font-family: '微软雅黑', Arial;
   color: #404040;
}

.ipacro-comment-header a:hover,  .ipacro-comment-header a.hovered
{
   font-family: '微软雅黑', Arial;
   color: #3F8D84;
}

.ipacro-comment-content a, 
.ipacro-comment-content a:link, 
.ipacro-comment-content a:visited,
.ipacro-comment-content a.visited,
.ipacro-comment-content a:hover,
.ipacro-comment-content a.hovered
{
   font-family: '微软雅黑', Arial;
}

.ipacro-comment-content a, .ipacro-comment-content a:link
{
   font-family: '微软雅黑', Arial;
   color: #334913;
}

.ipacro-comment-content a:visited, .ipacro-comment-content a.visited
{
   font-family: '微软雅黑', Arial;
   color: #404040;
}

.ipacro-comment-content a:hover,  .ipacro-comment-content a.hovered
{
   font-family: '微软雅黑', Arial;
   color: #3F8D84;
}

.ipacro-pager
{
   background: #EBF5DB;
   background: linear-gradient(top, #FFFFFF 0, #B2DB76 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #B2DB76 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #B2DB76 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #B2DB76 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #B2DB76 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #B2DB76 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #B2DB76 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #A9D666;
   padding:5px;
}

.ipacro-pager>*:last-child,
.ipacro-pager>*:last-child:hover
{
   margin-right:0;
}

.ipacro-pager>span {
   cursor:default;
}

.ipacro-pager>*
{
   background: #C7E49A;
   background: linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: -webkit-linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: -moz-linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: -o-linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: -ms-linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   -svg-background: linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #A9D666;
   padding:7px;
   margin:0 4px 0 auto;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.ipacro-pager a:link,
.ipacro-pager a:visited
{
   font-family: '微软雅黑', Arial;
   text-decoration: none;
   color: #1A1A1A
;
}

.ipacro-pager .active
{
   background: #A9D666;
   background: linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: -webkit-linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: -moz-linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: -o-linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: -ms-linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   -svg-background: linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   border:1px solid #A9D666;
   padding:7px;
   margin:0 4px 0 auto;
   color: #121212
;
}

.ipacro-pager .more
{
   background: #C7E49A;
   background: linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: -webkit-linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: -moz-linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: -o-linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: -ms-linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   background: linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   -svg-background: linear-gradient(top, #EBF5DB 0, #A3D35A 100%) no-repeat;
   border:1px solid #C7E49A;
   margin:0 4px 0 auto;
}
.ipacro-pager a.more:link,
.ipacro-pager a.more:visited
{
   color: #1A1A1A
;
}
.ipacro-pager a:hover
{
   background: #A9D666;
   background: linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: -webkit-linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: -moz-linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: -o-linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: -ms-linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   background: linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   -svg-background: linear-gradient(top, #CBE6A2 0, #8EC936 87%, #83B931 100%) no-repeat;
   border:1px solid #95CD42;
   padding:7px;
   margin:0 4px 0 auto;
}
.ipacro-pager  a:hover,
.ipacro-pager  a.more:hover
{
   color: #121212
;
}
.ipacro-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.ipacro-pager>*:last-child:after{
   display:none;
}

.ipacro-commentsform
{
   background: #E0E0E0;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #1F1F1F;
}

.ipacro-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #1F1F1F;
}

.ipacro-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.ipacro-commentsform input:not([type=submit]), .ipacro-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.ipacro-commentsform .form-submit
{
   margin-top: 10px;
}
.ipacro-post
{
   background: #E0E0E0;
   background: rgba(224, 224, 224, 0.2);
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:3px;
   margin:5px;
}
a img
{
   border: 0;
}

.ipacro-article img, img.ipacro-article, .ipacro-block img, .ipacro-footer img
{
   margin: 7px 7px 7px 7px;
}

.ipacro-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.ipacro-article table, table.ipacro-article
{
   border-collapse: collapse;
   margin: 1px;
}

.ipacro-post .ipacro-content-layout-br
{
   height: 0;
}

.ipacro-article th, .ipacro-article td
{
   padding: 2px;
   border: solid 1px #A6A6A6;
   vertical-align: top;
   text-align: left;
}

.ipacro-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.ipacro-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.ipacro-postmetadataheader
{
   background: #C7C7C7;
   background: rgba(199, 199, 199, 0.7);
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
   margin-bottom: 5px;
}

.ipacro-postheader
{
   color: #2B2B2B;
   margin: 10px 0 0 10px;
   font-size: 24px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postheader a, 
.ipacro-postheader a:link, 
.ipacro-postheader a:visited,
.ipacro-postheader a.visited,
.ipacro-postheader a:hover,
.ipacro-postheader a.hovered
{
   font-size: 24px;
   font-family: '微软雅黑', Arial;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.ipacro-postheader a, .ipacro-postheader a:link
{
   font-family: '微软雅黑', Arial;
   text-decoration: none;
   text-align: left;
   color: #86BD32;
}

.ipacro-postheader a:visited, .ipacro-postheader a.visited
{
   font-family: '微软雅黑', Arial;
   text-decoration: none;
   text-align: left;
   color: #6B6B6B;
}

.ipacro-postheader a:hover,  .ipacro-postheader a.hovered
{
   font-family: '微软雅黑', Arial;
   text-decoration: none;
   text-align: left;
   color: #8EC936;
}

.ipacro-postheadericons,
.ipacro-postheadericons a,
.ipacro-postheadericons a:link,
.ipacro-postheadericons a:visited,
.ipacro-postheadericons a:hover
{
   font-size: 12px;
   font-family: '微软雅黑', Arial;
   color: #404040;
}

.ipacro-postheadericons
{
   padding: 1px;
}

.ipacro-postheadericons a, .ipacro-postheadericons a:link
{
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
   color: #171717;
}

.ipacro-postheadericons a:visited, .ipacro-postheadericons a.visited
{
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
   color: #474747;
}

.ipacro-postheadericons a:hover, .ipacro-postheadericons a.hover
{
   font-family: '微软雅黑', Arial;
   text-decoration: none;
   color: #86BD32;
}

.ipacro-postdateicon:before
{
   content:url('../images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .ipacro-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-postauthoricon:before
{
   content:url('../images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .ipacro-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-postpdficon:before
{
   content:url('../images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .ipacro-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-postprinticon:before
{
   content:url('../images/postprinticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .ipacro-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-postemailicon:before
{
   content:url('../images/postemailicon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .ipacro-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-postediticon:before
{
   content:url('../images/postediticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .ipacro-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-postcontent ul>li:before,  .ipacro-post ul>li:before,  .ipacro-textblock ul>li:before
{
   content:url('../images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .ipacro-postcontent ul>li:before, .opera   .ipacro-post ul>li:before, .opera   .ipacro-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-postcontent li, .ipacro-post li, .ipacro-textblock li
{
   font-size: 13px;
   font-family: '微软雅黑', Arial;
   color: #2E2E2E;
   margin: 10px 0 -5px 9px;
}

.ipacro-postcontent ul>li, .ipacro-post ul>li, .ipacro-textblock ul>li, .ipacro-postcontent ol, .ipacro-post ol, .ipacro-textblock ol
{
   padding: 0;
}

.ipacro-postcontent ul>li, .ipacro-post ul>li, .ipacro-textblock ul>li
{
   padding-left: 13px;
}

.ipacro-postcontent ul>li:before,  .ipacro-post ul>li:before,  .ipacro-textblock ul>li:before
{
   margin-left: -13px;
}

.ipacro-postcontent ol, .ipacro-post ol, .ipacro-textblock ol, .ipacro-postcontent ul, .ipacro-post ul, .ipacro-textblock ul
{
   margin: 1em 0 1em 9px;
}

.ipacro-postcontent li ol, .ipacro-post li ol, .ipacro-textblock li ol, .ipacro-postcontent li ul, .ipacro-post li ul, .ipacro-textblock li ul
{
   margin: 0.5em 0 0.5em 9px;
}

.ipacro-postcontent li, .ipacro-post li, .ipacro-textblock li
{
   margin: 10px 0 -5px 0;
}

.ipacro-postcontent ol>li, .ipacro-post ol>li, .ipacro-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.ipacro-postcontent ul>li, .ipacro-post ul>li, .ipacro-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #E0E0E0 url('../images/postquote.png') no-repeat scroll;
   border:1px solid #B5B5B5;
   padding:6px 6px 6px 39px;
   margin:0 0 0 15px;
   color: #545454;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: italic;
   text-align: justify;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .ipacro-postcontent blockquote a, .ipacro-blockcontent blockquote a, .ipacro-footer blockquote a,
blockquote a:link, .ipacro-postcontent blockquote a:link, .ipacro-blockcontent blockquote a:link, .ipacro-footer blockquote a:link,
blockquote a:visited, .ipacro-postcontent blockquote a:visited, .ipacro-blockcontent blockquote a:visited, .ipacro-footer blockquote a:visited,
blockquote a:hover, .ipacro-postcontent blockquote a:hover, .ipacro-blockcontent blockquote a:hover, .ipacro-footer blockquote a:hover
{
   color: #545454;
   font-family: '微软雅黑', Arial;
   font-weight: normal;
   font-style: italic;
   text-align: justify;
}

/* Override native 'p' margins*/
blockquote p,
.ipacro-postcontent blockquote p,
.ipacro-blockcontent blockquote p,
.ipacro-footer blockquote p
{
   margin: 0;
}

.ipacro-postmetadatafooter
{
   background: #C7C7C7;
   background: rgba(199, 199, 199, 0.7);
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
}

.ipacro-postfootericons,
.ipacro-postfootericons a,
.ipacro-postfootericons a:link,
.ipacro-postfootericons a:visited,
.ipacro-postfootericons a:hover
{
   font-size: 12px;
   font-family: '微软雅黑', Arial;
   text-decoration: none;
   color: #4A4A4A;
}

.ipacro-postfootericons
{
   padding: 1px;
}

.ipacro-postfootericons a, .ipacro-postfootericons a:link
{
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
   color: #171717;
}

.ipacro-postfootericons a:visited, .ipacro-postfootericons a.visited
{
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
   color: #454545;
}

.ipacro-postfootericons a:hover, .ipacro-postfootericons a.hover
{
   font-family: '微软雅黑', Arial;
   text-decoration: none;
   color: #80B530;
}

.ipacro-postcategoryicon:before
{
   content:url('../images/postcategoryicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .ipacro-postcategoryicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-posttagicon:before
{
   content:url('../images/posttagicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .ipacro-posttagicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-postcommentsicon:before
{
   content:url('../images/postcommentsicon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .ipacro-postcommentsicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ipacro-footer
{
   background: #B5B5B5;
   background: transparent;
   margin:10px auto 0;
   position: relative;
   color: #000000;
   font-size: 11px;
   font-family: '微软雅黑', Arial;
   text-align: center;
   padding: 0;
}

.ipacro-footer a,
.ipacro-footer a:link,
.ipacro-footer a:visited,
.ipacro-footer a:hover,
.ipacro-footer td, 
.ipacro-footer th,
.ipacro-footer caption
{
   color: #000000;
   font-size: 11px;
   font-family: '微软雅黑', Arial;
}

.ipacro-footer p 
{
   padding:0;
   text-align: center;
}

.ipacro-footer a,
.ipacro-footer a:link
{
   color: #5E8523;
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
}

.ipacro-footer a:visited
{
   color: #6B6B6B;
   font-family: '微软雅黑', Arial;
   text-decoration: underline;
}

.ipacro-footer a:hover
{
   color: #28380F;
   font-family: '微软雅黑', Arial;
   text-decoration: none;
}

.ipacro-footer h1
{
   color: #A6A6A6;
   font-family: '微软雅黑', Arial;
}

.ipacro-footer h2
{
   color: #A6A6A6;
   font-family: '微软雅黑', Arial;
}

.ipacro-footer h3
{
   color: #B5B5B5;
   font-family: '微软雅黑', Arial;
}

.ipacro-footer h4
{
   color: #949494;
   font-family: '微软雅黑', Arial;
}

.ipacro-footer h5
{
   color: #949494;
   font-family: '微软雅黑', Arial;
}

.ipacro-footer h6
{
   color: #949494;
   font-family: '微软雅黑', Arial;
}

.ipacro-footer img
{
   border: none;
   margin: 0;
}

.ipacro-footer-inner
{
   margin: 0 auto;
   width:1000px;
   padding:10px;
   padding-right: 10px;
   padding-left: 10px;
}

.ipacro-rss-tag-icon
{
   background:  url('../images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.ipacro-rss-tag-icon:empty
{
   vertical-align: middle;
}

.ipacro-facebook-tag-icon
{
   background:  url('../images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.ipacro-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.ipacro-twitter-tag-icon
{
   background:  url('../images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.ipacro-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.ipacro-footer li
{
   font-size: 14px;
   font-family: '微软雅黑', Arial;
   line-height: 125%;
   color: #0F0F0F;
}

.ipacro-page-footer, 
.ipacro-page-footer a,
.ipacro-page-footer a:link,
.ipacro-page-footer a:visited,
.ipacro-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #787878;
}

.ipacro-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #474747;
}

.ipacro-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.ipacro-lightbox,
.ipacro-lightbox-wrapper .ipacro-lightbox-image
{
   cursor: pointer;
}

.ipacro-lightbox-wrapper .ipacro-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.ipacro-lightbox-wrapper .ipacro-lightbox-image.active
{
   display: inline-block;
}

.ipacro-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.ipacro-lightbox-wrapper .loading
{
   background: #fff url('../images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.ipacro-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.ipacro-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.ipacro-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.ipacro-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.ipacro-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.ipacro-lightbox-wrapper .arrow-t, 
.ipacro-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.ipacro-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.ipacro-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.ipacro-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.ipacro-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.ipacro-lightbox-wrapper .close .cw, 
.ipacro-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.ipacro-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ipacro-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.ipacro-lightbox-wrapper .close-alt, 
.ipacro-lightbox-wrapper .arrow-right-alt, 
.ipacro-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .ipacro-lightbox-wrapper .close-alt, 
.ie8 .ipacro-lightbox-wrapper .arrow-right-alt, 
.ie8 .ipacro-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .ipacro-lightbox-wrapper .cw, 
.ie8 .ipacro-lightbox-wrapper .ccw 
{
   display: none;
}

.ipacro-content-layout .ipacro-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */
.ipacro-blockheader .t, .ipacro-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */
