<div class="dashboard-item">
  <div class="item-content">
    <%= link_to t('cpanel.front.edit.site_config'), cpanel_front_site_info_path %>
    |
    <%= link_to t('cpanel.front.edit.news'), cpanel_news_index_path %>
    |
    <%= link_to t('cpanel.front.edit.products'), cpanel_products_path %>
    |
    <%= link_to t('cpanel.front.edit.support'), cpanel_front_support_path %>
  </div> 
</div> 
