<script type="text/javascript" src="/js/jquery.js"></script>
<div class="slidebar">
  <div class="logo">
    <a href="/cpanel"></a>
  </div>
  <ul>
    <li id="cpanelhome"><a href="/cpanel">c 控制台首页</a></li>
    <li id="about"><a href="/cpanel/about">e 公司简介管理</a></li>
    <li id="slides"><a href="/cpanel/slides">b 图片轮播管理</a></li>
    <li id="news"><a href="/cpanel/news">d 咨讯发布管理</a></li>
    <li id="services"><a href="/cpanel/services">q 服务项目管理</a></li>
    <li id="activities"><a href="/cpanel/activities">h 员工园地管理</a></li>
    <li id="contact"><a href="/cpanel/contact">a 联系信息配置</a></li>
    <li id="positions"><a href="/cpanel/positions">g 职位招聘管理</a></li>
    <li id="configs"><a href="/cpanel/site_configs">k 网站参数配置</a></li>
    <li id="users"><a href="/cpanel/users">i 修改管理员密码</a></li>
  </ul>
</div>
<script type="text/javascript" src="/js/addmenuclass_cpanel.js"></script>