<div id="about">
  <h2 class="header">a 联系信息管理</h2>
  <div class="monitor">
    <div class="clearfix">
      <ul class="content">
        <li class="first">联系信息 | <span><%= link_to '编辑', edit_cpanel_site_config_path(@contact_cn) %></span></li>
        <li class="first">Contact | <span><%= link_to '编辑', edit_cpanel_site_config_path(@contact_en) %></span></li>
      </ul>
    </div>
  </div>
</div>