<div class="dashboard-item">
  <div class="item-content">
    <%= link_to '设置网站基本信息', cpanel_front_site_info_path %>
    |
    <%= link_to '编辑网站新闻', cpanel_news_index_path %>
  </div> 
</div> 
