<footer class="ipacro-footer">
  <div class="ipacro-footer-inner">
  <div style="position:relative;display:inline-block;padding-left:42px;padding-right:42px">
    <a title="RSS" class="ipacro-rss-tag-icon" style="position: absolute; bottom: -10px; left: -6px; line-height: 32px;" href="#"></a>

    <p>Non morbi pede donec sem turpis lobortis enim ut eu.</p></div>  
  </div>
  <div>
    <% Partner.all.each do |partner| %>
      <span>
        <%= link_to partner.name, partner.url, target:"_blank" %>
      </span>
      &nbsp;|&nbsp;
    <% end %>
  </div>
</footer>