<header class="ipacro-header">
  <div class="ipacro-shapes">
  </div>
  <h1 class="ipacro-headline" data-left="4.77%">
    <a href="#"><%= t('site_title') %> </a>
  </h1>
  <h2 class="ipacro-slogan" data-left="4.12%">公司的口号：</h2>
  <span class="ipacro-postcontent" style="position:absolute;bottom:5%;right:5%;"><a href="#">中文版</a> | <a href="#">English</a></span>
</header>